  :root {

   --code-bg-color: #f5f7fa;
    --shiki-color-text: #acaccf;
    --shiki-color-background: #cf8080;
    --shiki-token-constant: #fb6603;
    --shiki-token-string: #d54747;
    --shiki-token-comment: #f00909;
    --shiki-token-keyword: #9595ef;
    --shiki-token-parameter: #84b906;
    --shiki-token-function: #d50d0d;
    --shiki-token-string-expression: #ffad60;
    --shiki-token-punctuation: #9879ee;
    --shiki-token-link: #09f51c;
  }