@import '../../../packages/loong-totem-view-theme/src/index.scss';
// ,'/loong-totem.css'

:root {
  --lg-main: #f8b751;
  --lg-main-light:#f6c272;
  --c-text-accent: var(--lg-main);
  --back-to-top-color: var(--lg-main);
  --back-to-top-color-hover: var(--lg-main);
  --c-brand-light: var(--lg-main-light);
  --c-brand: var(--lg-main);
  --code-bg-color: #f5f7fa;
  --shiki-color-text: #acaccf;
  --shiki-color-background: #cf8080;
  --shiki-token-constant: var(--lg-main);
  --shiki-token-string: #d54747;
  --shiki-token-comment: #f00909;
  --shiki-token-keyword: #9595ef;
  --shiki-token-parameter: #84b906;
  --shiki-token-function: #67c23a;
  --shiki-token-string-expression: #ffad60;
  --shiki-token-punctuation: #9879ee;
  --shiki-token-link: #09f51c;
}

div[class*='language-'] .highlight-lines .highlight-line {
  background-color: #f1f0f2;
}
