@font-face {
  font-family: "loong-icons"; /* Project id 3159602 */
  src: url('loong-totem.woff2?t=1643076259896') format('woff2'),
       url('loong-totem.woff?t=1643076259896') format('woff'),
       url('loong-totem.ttf?t=1643076259896') format('truetype'),
       url('loong-totem.svg?t=1643076259896#loong-icons') format('svg');
}

.loong-icons {
  font-family: "loong-icons" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lg-icon-cangku:before {
  content: "\ee05";
}

.lg-icon-fabu:before {
  content: "\ee06";
}

.lg-icon-jiance:before {
  content: "\ee07";
}

.lg-icon-dianpu:before {
  content: "\ee08";
}

.lg-icon-ruzhu:before {
  content: "\ee09";
}

.lg-icon-biaoqian:before {
  content: "\ee0a";
}

.lg-icon-bianxie:before {
  content: "\ee0b";
}

.lg-icon-fapiao:before {
  content: "\ee0c";
}

.lg-icon-gerenzhongxin:before {
  content: "\ee0d";
}

.lg-icon-guanggao:before {
  content: "\ee0e";
}

.lg-icon-quanqiu:before {
  content: "\ee0f";
}

.lg-icon-quanxian:before {
  content: "\ee10";
}

.lg-icon-jiancha:before {
  content: "\ee11";
}

.lg-icon-duowenjian:before {
  content: "\ee12";
}

.lg-icon-kefu:before {
  content: "\ee13";
}

.lg-icon-fahuo:before {
  content: "\ee14";
}

.lg-icon-a-24xiaoshi:before {
  content: "\ee15";
}

.lg-icon-caozuorizhi:before {
  content: "\ee16";
}

.lg-icon-dingdan:before {
  content: "\ee17";
}

.lg-icon-fanhui:before {
  content: "\ee18";
}

.lg-icon-daima:before {
  content: "\ee19";
}

.lg-icon-chexiao:before {
  content: "\ee1a";
}

.lg-icon-biaoji:before {
  content: "\ee1b";
}

.lg-icon-dayin:before {
  content: "\ee1c";
}

.lg-icon-bingzhuangtu:before {
  content: "\ee1d";
}

.lg-icon-bishuai:before {
  content: "\ee1e";
}

.lg-icon-fenxiao:before {
  content: "\ee1f";
}

.lg-icon-dian:before {
  content: "\ee20";
}

.lg-icon-fasong01:before {
  content: "\ee21";
}

.lg-icon-chuangkou:before {
  content: "\ee22";
}

.lg-icon-duihuaqipao:before {
  content: "\ee23";
}

.lg-icon-fenlei:before {
  content: "\ee24";
}

.lg-icon-guanbixiaoxitixing:before {
  content: "\ee25";
}

.lg-icon-fenxiang:before {
  content: "\ee26";
}

.lg-icon-chenggong:before {
  content: "\ee27";
}

.lg-icon-baocun:before {
  content: "\ee28";
}

.lg-icon-bianji:before {
  content: "\ee29";
}

.lg-icon-fuzhi:before {
  content: "\ee2a";
}

.lg-icon-guoji:before {
  content: "\ee2b";
}

.lg-icon-cangkuchaxunguanli:before {
  content: "\ee2c";
}

.lg-icon-guanlian:before {
  content: "\ee2d";
}

.lg-icon-dengchu:before {
  content: "\ee2e";
}

.lg-icon-dianhua:before {
  content: "\ee2f";
}

.lg-icon-caidan:before {
  content: "\ee30";
}

.lg-icon-diannao:before {
  content: "\ee31";
}

